<?php
/**
 * TestMod_StoreLocations
 * 
 * @category TestMod
 * @package TestMod_StoreLocations
 * @author Igors Kolcins <igorskolchins@gmail.com>
 * @copyright Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
 * @license http://opensource.org/licenses/OSL-3.0 The Ope Software License 3.0 (OSL-3.0)
 */
?>
<section class="map-body" id="store-locations">
    <div class="list">
        <div class="list__header">
            <div class="list__title">
                Veikalu adreses
            </div>
            <div class="list__search-form">
                <input class="list__search-input" placeholder="Enter a location to searc for a store..." />
                <button class="list__serach-button">
                    Find a store
                </button>
            </div>
        </div>
        <div class="list__items-area" id="shopsList">
        <!-- Here is list__item -->
        </div>
    </div>
    <div class="map" id="map">
    </div>
</section>

<script src="https://maps.googleapis.com/maps/api/js?key=<?php echo $this->getApiKey(); ?>"></script>
<script> 
    var json = <?php echo json_encode($this->getCollectionJson()); ?>;
    window.onload = initMap(json); 
</script>