/**
 * TestVen_TestTheme
 *
 * @category TestVen
 * @package TestVen_TestTheme
 * @author Igors Kolchins <igorskolchins@gmail.com>
 */


// Fonts
@font-face {
    font-family: OpenSans;
    src: url(/OpenSans-Regular.ttf);
}

// Colors 
@fth__color_white: #fff;
@fth__color_light-blue: #cddaf0;
@fth__color_jysk-blue: #003187;
@fth__color_dark: #373b42;
@fth__color_copy: #46536c;
@fth__color_green: #85b73c;
@fth__color_orange: #f47b20;

.fth__color_green{
    color: @fth__color_green;
}

.fth__color_jusk-blue{
    color: @fth__color_jysk-blue
}

// Images

.sprite {
    background-image: url(../images/icons.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-icon_cart {
    width: 45px;
    height: 45px;
    background-position: -5px -5px;
    margin: auto;
}

.sprite-icon_mail {
    width: 45px;
    height: 45px;
    background-position: -60px -5px;
    margin: auto;
}


// Styles

.fth__page{
    width: 1040px;
    margin: auto;
}

.fth__product-name{
    font: 'OpenSans', Helvetica, sans-serif;
    font-size: 31px;
    font-weight: bold;
}

.fth__breadcrumb-style{
    font: 'OpenSans', Helvetica, sans-serif;
    font-size: 12px;
}

.fth__body-copy{
    font: 'OpenSans', Helvetica, sans-serif;
    font-size: 14px;
}

.fth__h2-title{
    font: 'OpenSans', Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.fth__h3-title{
    font: 'OpenSans', Helvetica, sans-serif;
    font-size: 19px;
    font-weight: bold;
}

.fth__related-product-title{
    font: 'OpenSans', Helvetica, sans-serif;
    font-size: 26px;
    font-weight: 100;
}

// Margins

.fth__mb-10{
    margin-bottom: 10px;
}

.fth__mb-35{
    margin-bottom: 35px;
}

// Rows

.fth__row{
    display: flex;
    justify-content: space-around;
}

.fth__row__item_200{
    width: 200px;
}

.fth__row__item_45p{
    width: 45%;
}

// Columns

.fth__col{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.fth__col__item{
    width: 250px;
    text-align: left;
}

// Lines

.fth__line_green{
    background-color: @fth__color_green;
    width: 100px;
    height: 1px;
    margin-top: 20px;
    margin-right: 15px;
}

// Text aligns

.fth__txt-al_c{
    text-align: center;
}

// Table

.fth__table{
    width: 100%;
    border-collapse: collapse;
}

.fth__table__head{
    background-color: @fth__color_light-blue;
    box-shadow: 0px -10px 0px 10px @fth__color_light-blue;
    border: 2px solid @fth__color_light-blue;
    border-bottom: none;
}

.fth__table__body{
    border: 2px solid #fff;
    border-top: none;
}

.fth__table td, th {
    padding: 20px;
    border: 1px solid @fth__color_dark;
    border-bottom: none;
}

.fth__first-col{
    width: 200px;
    background-color: #cddaf069;
}