/**
 * TestVen_TestTheme
 * 
 * @category TestVen
 * @package TestVen_TestTheme
 * @author Igors Kolcins <igorskolchins@gmail.com>
 * @copyright Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
 * @license http://opensource.org/licenses/OSL-3.0 The Ope Software License 3.0 (OSL-3.0)
 */

.clone {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 999;
    /* transform: translateY(0%); */
    transition: transform 0.3s ease-in-out;
    background-color: #fff;
}

.down {
    /* transform: translateY(-137px); */
    transition: transform 0.3s ease-in-out;
}