/**
 * TestMod_StoreLocations
 * 
 * @category TestMod
 * @package TestMod_StoreLocations
 * @author Igors Kolcins <igorskolchins@gmail.com>
 * @copyright Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
 * @license http://opensource.org/licenses/OSL-3.0 The Ope Software License 3.0 (OSL-3.0)
 */

/* MAP BODY */
.map-body{
    width: 100%;
    display: flex;
    color: #373b42;
    font-size: 14px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

/* MAP */
.map {
    width: 62%;
    height: 680px;
}

/* LIST */ 
.list {
    /* background: rgb(0, 255, 0); */
    width: 38%;
    height: 680px;
    display: flex;
    flex-direction: column;
}

.list__path{
    font-size: 12px;
    margin-bottom: 8px;
    color: #46536c;
}

.list__header{
    padding: 35px 45px;
    border-bottom: 1px solid #85b73c;
}

.list__title{
    font-weight: bold;
    font-size: 30px;
    color: #360088;
    margin-bottom: 18px;
}

.list__search-form{
    width: 100%;
}

.list__search-input{
    background: #fff;
    border: 1px solid #cddaef;
    border-radius: 4px;
    font-size: 13px;
    outline-color: #85b73c;
    outline-width: 3px;
    height: 43px;
    padding: 0 0 0 14px;
    color: #85b73c;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}

.list__serach-button{
    background: #85b73c;
    border: 0;
    border-radius: 2px;
    color: #fff;
    font-size: 16px;
    font-weight: 800;
    line-height: 19px;
    overflow: hidden;
    padding: 13px 22px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    outline-color: #85b73c;
    outline-width: 3px;
    width: 100%;
    box-sizing: border-box;
}
.list__serach-button:hover{
    background: #a0ce5b;
}

.list__items-area{
    overflow-y: auto;
}

.list__item{
    padding: 20px 45px;
    border-top: 1px solid #d9d9d9;
    background-color: #fff;
    cursor: pointer;
}

.list__location-adress{
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    color: #373b42;
    margin-bottom: 5px;
}

.list__location-addres_active{
    color: #85b73c;
}

.list__location-header{
    color: #46536c;
    font-size: 13px;
    line-height: 19.5px;
}

.list__location-phone{
    color: #46536c;
    font-size: 13px;
    line-height: 19.5px;
}

.list__location-description{
    font-size: 13px;
    line-height: 26px;
    font-weight: 400;
    color: #46536c;
}